
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="events/funeral">
<div class="box1 eventssub">
<h1>Funeral</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="events/family">
	<div class="box1 eventssub">
<h1>Family</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="events/school">
	<div class="box1 eventssub">
<h1>School</h1>
</div>
</a>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="events/performance">
<div class="box1 eventssub">
<h1>Performance</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
		<a class="nounder" href="events/sports">
	<div class="box1 eventssub">
<h1>Sports</h1>
</div>
</a>
</div>


</div><!--End of Row -->
