
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 eventssub">
<a href="events/funeral"><h1>Funeral</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

	<div class="box1 eventssub">
	<a href="events/family"><h1>Family</h1></a>

</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 eventssub">
<a href="events/school"><h1>School</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 eventssub">
<a href="events/performance"><h1>Performance</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 eventssub">
	<a href="events/sports"><h1>Sports</h1></a>
</div>
</div>


</div><!--End of Row -->
