
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="love/date">
<div class="box1 lovesub">
<h1>Date</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/breakup">
	<div class="box1 lovesub">
<h1>Break Up</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/forgetanniversary">
	<div class="box1 lovesub">
<h1>Forget Anniversary</h1>
</div>
</a>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/inlaws">
<div class="box1 lovesub">
<h1>In Laws</h1>
</div>
</a>
</div>



</div><!--End of Row -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Excuser</h4>
      </div>
      <div class="modal-body">
        <p>{{excuse.topExcuse}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
