
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="love/date">
<div class="box1 lovesub">
<h1>Date</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/breakup">
	<div class="box1 lovesub">
<h1>Break Up</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/forgetanniversary">
	<div class="box1 lovesub">
<h1>Forget Anniversary</h1>
</div>
</a>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="love/inlaws">
<div class="box1 lovesub">
<h1>In Laws</h1>
</div>
</a>
</div>



</div><!--End of Row -->
