
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 lovesub">
<a href="love/date"><h1>Date</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

	<div class="box1 lovesub">
	<a href="love/breakup"><h1>Break Up</h1></a>

</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 lovesub">
<a href="love/forgetanniversary"><h1>Forget Anniversary</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 lovesub">
<a href="love/inlaws"><h1>In Laws</h1></a>
</div>
</div>



</div><!--End of Row -->
