<div class="row">
<div class="col-xs-12 col-lg-4">
<div class="box school">
<a href="categories/school/schoolcat.html"><h1>School</h1></a>
</div>
</div>

<div class="col-xs-12 col-lg-4">

	<div class="box work">
	<a href="categories/work/workcat.html"><h1>Work</h1></a>

</div>
</div>

<div class="col-xs-12 col-lg-4">
	<div class="box social">
<a href="categories/social/socialcat.html"><h1>Social</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-lg-4">
<div class="box events">
<a href="categories/events/eventscat.html"><h1>Events</h1></a>
</div>
</div>

<div class="col-xs-12 col-lg-4">
	<div class="box funny">
	<a href="categories/funny/funnycat.html"><h1>Funny</h1></a>
</div>
</div>

<div class="col-xs-12 col-lg-4">
	<div class="box love">
<a href="categories/love/lovecat.html"><h1>Love</h1></a>
</div>
</div>

</div><!--End of Row -->
