<div class="row">
<div class="col-xs-12 col-sm-4 col-lg-4">
<div class="box school">
<a href="/school"><h1>School</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">

	<div class="box work">
	<a href="/work"><h1>Work</h1></a>

</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box social">
<a href="/social/"><h1>Social</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-sm-4 col-lg-4">
<div class="box events">
<a href="/events"><h1>Events</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box funny">
	<a href="/funny"><h1>Funny</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box love">
<a href="/love"><h1>Love</h1></a>
</div>
</div>

</div><!--End of Row -->
