<div class="row">
<div class="col-xs-12 col-sm-4 col-lg-4">
<div class="box school">
<a href="/school"><h1>School</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">

	<div class="box work">
	<a href="/work"><h1>Work</h1></a>

</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box social">
<a href="/social/"><h1>Social</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-sm-4 col-lg-4">
<div class="box events">
<a href="/events"><h1>Events</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box funny">
	<a href="/funny"><h1>Funny</h1></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-lg-4">
	<div class="box love">
<a href="/love"><h1>Love</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Excuser</h4>
      </div>
      <div class="modal-body">
        <p>{{excuse.topExcuse}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
