
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 schoolsub">
<a href="school/homework"><h1>Homework</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

	<div class="box1 schoolsub">
	<a href="school/absence"><h1>Absence</h1></a>

</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 schoolsub">
<a href="/school/tardiness"><h1>Tardiness</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 schoolsub">
<a href="/school/tests"><h1>Tests</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 schoolsub">
	<a href="/school/late"><h1>Late</h1></a>
</div>
</div>


</div><!--End of Row -->
