
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="school/homework">
<div class="box1 schoolsub">
<h1>Homework</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

<a class="nounder" href="school/absence">
	<div class="box1 schoolsub">
	<h1>Absence</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="/school/tardiness">
	<div class="box1 schoolsub">
<h1>Tardiness</h1>
</div>
</a>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="/school/tests">
<div class="box1 schoolsub">
<h1>Tests</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="/school/late">
	<div class="box1 schoolsub">
	<h1>Late</h1>
</div>
</a>
</div>


</div><!--End of Row -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Excuser</h4>
      </div>
      <div class="modal-body">
        <p>{{excuse.topExcuse}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
