
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="work/misseddeadlines">
<div class="box1 worksub">
<h1>Missed Deadlines</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

<a class="nounder" href="work/absence">
	<div class="box1 worksub">
<h1>Absence</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="work/tardiness">
	<div class="box1 worksub">
<h1>Tardiness</h1>
</div>
</a>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<a class="nounder" href="work/meeting">
<div class="box1 worksub">
<h1>Meeting</h1>
</div>
</a>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<a class="nounder" href="work/leavingearly">
	<div class="box1 worksub">
	<h1>Leaving Early</h1>
</div>
</a>
</div>


</div><!--End of Row -->
