<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box2 worksub">
<a href="schoolExcuse.html"><h1>Homework</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	
	<div class="box1 worksub">
	<a href="#"><h1>Absence</h1></a>

</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 worksub">
<a href="#"><h1>Tardiness</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 worksub">
<a href="#"><h1>Tests</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 worksub">
	<a href="#"><h1>Late</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 worksub">
<a href="#"><h1>Random</h1></a>
</div>
</div>

</div><!--End of Row -->
