
<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 worksub">
<a href="work/misseddeadlines"><h1>Missed Deadlines</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">

	<div class="box1 worksub">
	<a href="work/absence"><h1>Absence</h1></a>

</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 worksub">
<a href="work/tardiness"><h1>Tardiness</h1></a>
</div>
</div>

</div><!--End of Row -->

<div class="row">
<div class="col-xs-12 col-md-4 col-lg-4">
<div class="box1 worksub">
<a href="work/meeting"><h1>Meeting</h1></a>
</div>
</div>

<div class="col-xs-12 col-md-4 col-lg-4">
	<div class="box1 worksub">
	<a href="work/leavingearly"><h1>Leaving Early</h1></a>
</div>
</div>


</div><!--End of Row -->
